body{background-color:#cccccc!important}.container-principal .row-btn-panel .btn-panel{font-size:22px;height:50px;line-height:35px;margin:5px;vertical-align:middle}#crudForm input[type=text]{height:30px}